<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubao.shop.mapper.Product_descMapper">

	<insert id="addProduct_desc" parameterType="product_desc">


		INSERT INTO
		`jubao`.`tb_item_desc` (
		`item_id`,
		`item_desc`,
		`created`
		)
		VALUES
		(
		#{itemid},
		#{itemdesc},
		#{created}
		);

	</insert>

	<!-- 修改商品描述 -->
	<update id="updateDesc" parameterType="product_desc">
		UPDATE
		`jubao`.`tb_item_desc`
		<trim prefix="set" suffixOverrides="," suffix="WHERE `item_id` = #{itemid}">
			<if test="itemdesc!=null">
				`item_desc` = #{itemdesc},
			</if>
			<if test="updated!=null">
				`updated` =#{updated}
			</if>
		</trim>

	</update>

	<!-- 刪除商品描述 -->
	<delete id="deleteDesc" parameterType="_int">
		DELETE
		FROM
		`jubao`.`tb_item_desc`
		WHERE `item_id` = #{itemid}
	</delete>


	<!-- 根据商品id查找商品描述 -->
	<select id="findItemByIdDesc" parameterType="_long" resultType="product_desc">
		SELECT
		`item_id`,
		`item_desc`,
		`created`,
		`updated`
		FROM
		`jubao`.`tb_item_desc` WHERE item_id=#{pid}
	</select>




</mapper>