<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubao.order.mapper.OrderMapper">

	<!-- 创建订单 -->
	<insert id="create_Order" parameterType="order">
		INSERT INTO
		`jubao`.`tborder` (
		`id`,
		`orderCode`,
		`payment`,
		`post_fee`,
		`createtime`,
		`userid`,
		addressid,
		shopid,
		wid
		)
		VALUES
		(
		#{id},
		#{orderCode},
		#{payment},
		#{post_fee},
		#{createtime},
		#{userid},
		#{addressid},
		#{shopid},
		#{wid}
		);
	</insert>


	<!-- 订单明细 -->
	<insert id="create_order_detail" parameterType="orderDetail">
		INSERT INTO
		`jubao`.`tborderitem` (
		`itemid`,
		`orderid`,
		`num`,
		`title`,
		`price`,
		`totalfee`,
		`picpath`,
		`itemType`,
		storeName
		)
		VALUES
		(
		#{itemid},
		#{orderid},
		#{num},
		#{title},
		#{price},
		#{totalfee},
		#{picpath},
		#{itemType},
		#{storeName}
		);
	</insert>



	<select id="findOrderById" parameterType="long" resultMap="rederResult">
		SELECT
		o.`id`,
		o.`payment`,
		o.`createtime`,
		o.`userid`,
		o.status,
		d.`id`
		did,
		d.`itemid`,
		d.`itemType`,
		d.`num`,
		d.`orderid`,
		d.`picpath`,
		d.`price`,
		d.`title`,
		d.`totalfee`,
		d.storeName
		FROM
		`jubao`.`tborder` o
		INNER JOIN `tborderitem` d ON o.`id`=d.`orderid` WHERE
		o.`id`=#{orderid}
	</select>





	<!-- 返回订单和订单明细结果 -->
	<resultMap type="orderCustom" id="rederResult">
		<id property="id" column="id" />
		<result property="payment" column="payment" />
		<result property="createtime" column="createtime" />
		<result property="userid" column="userid" />
		<result property="status" column="status" />
		<result property="wid" column="wid" />
		<result property="userCode" column="userCode" />
		<result property="sf" column="sf" />
		<result property="sq" column="sq" />
		<result property="qy" column="qy" />
		<result property="addressInfo" column="addressInfo" />
		<result property="remark" column="remark" />
		<result property="addressid" column="addressid"/>
		<!-- 商品详情 -->
		<collection property="orderDetailList" ofType="orderDetail">
			<result property="id" column="did" />
			<result property="itemid" column="itemid" />
			<result property="orderid" column="orderid" />
			<result property="num" column="num" />
			<result property="title" column="title" />
			<result property="price" column="price" />
			<result property="totalfee" column="totalfee" />
			<result property="picpath" column="picpath" />
			<result property="itemType" column="itemType" />
			<result property="storeName" column="storeName" />
		</collection>

	</resultMap>


	<!-- 查看订单数量 -->


	<!-- 根据店铺id查询订单 -->
	<select id="findOrderByShop" resultMap="rederResult">

		SELECT
		o.`id`,
		o.`payment`,
		o.`createtime`,
		o.`userid`,
		o.status,
		o.`wid`,
		o.addressid,
		d.`id`
		did,
		d.`itemid`,
		d.`itemType`,
		d.`num`,
		d.`orderid`,
		d.`picpath`,
		d.`price`,
		d.`title`,
		d.`totalfee`,
		d.storeName,
		u.`userCode`,
		(SELECT
		areaName FROM
		`t_area` WHERE areaId=r.`sf` ) sf,
		(SELECT areaName FROM
		`t_area` WHERE
		areaId=r.`sq` ) sq ,
		(SELECT areaName FROM `t_area`
		WHERE areaId=r.`qx`
		) qy ,
		r.`addressInfo`,
		r.`remark`
		FROM
		`jubao`.`tborder` o
		INNER JOIN
		`tborderitem` d ON o.`id`=d.`orderid`
		INNER JOIN `user` u ON
		u.`userid`=o.`userid`
		INNER JOIN `user_address` r ON
		r.`id`=o.`addressid`
		WHERE o.`shopid`=#{sid}
		AND o.status=#{status}

	</select>


	<!-- 修改订单状态 /*** * 获取用户订单 * * 1 待发货 * * 0 待付款 * * 2 卖家已发货 * * 3 交易完成 */ -->
	<update id="updateOrderStatus" parameterType="OrderVo">
		UPDATE
		`jubao`.`tborder`
		<trim prefix="set" suffixOverrides=",">
			<if test="orderCustom.status!=null">
				`status` =#{orderCustom.status},
			</if>
			<if test="orderCustom.shippingname!=null">
				shippingname =#{orderCustom.shippingname},
			</if>
			<if test="orderCustom.consigntime!=null">
				consigntime = #{orderCustom.consigntime},
			</if>		
		</trim>
		<where>
			<if test="orderCustom.id!=null">
				`id` = #{orderCustom.id}
			</if>
			<if test="orderCustom.wid!=null">
				wid = #{orderCustom.wid}
			</if>
		</where>
	</update>


	<select id="findOrderStatusNumber" parameterType="int"
		resultType="userOrderStatusInfo">
		SELECT
		`status`,
		COUNT(`status`) num
		FROM
		`jubao`.`tborder`
		WHERE
		shopid=#{shopid} GROUP BY `status`

	</select>

	<!-- 查询用户收获地址 -->
	<select id="findUserGetAddress" parameterType="int" resultType="orderCustom">
		SELECT
		(SELECT areaName FROM `t_area` WHERE areaId=r.`sf` ) sf,
		(SELECT
		areaName FROM
		`t_area` WHERE areaId=r.`sq` ) sq ,
		(SELECT areaName FROM
		`t_area`
		WHERE areaId=r.`qx` ) qy ,
		r.`addressInfo`,
		r.`remark`
		FROM
		user_address r WHERE r.id=#{address}

	</select>

</mapper>