<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubao.order.mapper.UsesGetAddressMapper">
	<!-- 根据用户id查询出用户的收获地址 -->
	<select id="findByUseridAddress" parameterType="_int" resultType="userAddress">
		SELECT
		u.`id`,
		u.`userId`,
		u.`isDefault`,
		u.`remark`,
		u.`sf`,
		u.`sq`,
		u.`qx`,
		u.`addressInfo`,
		u.`zipCode`,
		u.`phone`,
		(SELECT areaName FROM `t_area` WHERE areaId=u.`sf`) sfName,
		(SELECT areaName FROM `t_area` WHERE areaId= u.sq ) sqName,
		(SELECT areaName FROM `t_area` WHERE areaId=u.qx) qxName
		FROM
		`jubao`.`user_address` u WHERE u.userId=#{userid}

	</select>
	
	
	

</mapper>