<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubao.rest.mapper.AdvertisingAndCateMapper">



	<!-- 查询广告分类和广告 -->
	<select id="findAdvertisingCategoryAndAdvertising" resultMap="AdvertisingCategoryResultMap" parameterType="_int">
		SELECT
		cate.`categoryId`,
		cate.`categoryName`,
		cate.`categoryStatus`,
		cate.`advertisinWidet`,
		cate.`advertisinHight`,
		cate.`advertisinNumber`,
		adv.`advertisinId`,
		adv.`categoryId` cateid,
		adv.`advertisinUrl`,
		adv.`advertisinToUrl`,
		adv.`advertisinStatus`,
		adv.`advertisinTime`,
		adv.`advertisinStartTime`,
		adv.`advertisinStart`
		FROM
		advertisingCategory cate,advertisin adv
		WHERE   
		adv.`categoryId`=cate.`categoryId` AND cate.`categoryStatus`=1  AND cate.`cateArea`=#{areaid}  AND adv.`advertisinStatus`=1 AND adv.`advertisinStart`>NOW()


	</select>

     <!-- 一对多映射查询出广告分类和分类下的广告 -->
	<resultMap type="advertisingCategory" id="AdvertisingCategoryResultMap">
		<!-- 广告分类 -->
		<id column="categoryId" property="categoryId" />
		<result column="categoryName" property="categoryName" />
		<result column="categoryStatus" property="categoryStatus" />
		<result column="categoryPirce" property="categoryPirce" />
		<result column="advertisinWidet" property="advertisinWidet" />
		<result column="advertisinHight" property="advertisinHight" />
		<result column="advertisinNumber" property="advertisinNumber" />

		<!-- 配置分类下的广告 -->
		<collection property="advertisingList" ofType="advertising">
			<id column="advertisinId" property="advertisinId" />
			<result column="cateid" property="categoryId" />
			<result column="advertisinUrl" property="advertisinUrl" />
			<result column="advertisinToUrl" property="advertisinToUrl" />
			<result column="advertisinStatus" property="advertisinStatus" />
			<result column="advertisinTime" property="advertisinTime" />
			<result column="advertisinStartTime" property="advertisinStartTime" />
			<result column="advertisinStart" property="advertisinStart" />
		</collection>

	</resultMap>



</mapper>