<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubao.mapper.ItemCategoryMapper">


	<sql id="cateInfo">
		`parent_id`,
		`name`,
		`status`,
		`sort_order`,
		`is_parent`,
		`created`,
		`updated`
	</sql>


	<!-- 查询商品分类 -->
	<select id="getAllIntegerCategory" resultType="itemCategory"
		parameterType="_int">
		select
		`id`,
		`parent_id`,
		`name`,
		`status`,
		`sort_order`,
		`is_parent`,
		`created`,
		`updated`,
		 cateImg
		from
		`jubao`.`itemcat`
		where
		parent_id=#{id} AND `status` =1  ORDER BY sort_order 

	</select>

	<!-- 新增商品分类 -->
	<insert id="addCate" parameterType="itemCategory">

		insert into itemcat(
		`parent_id`,
		`name`,
		`status`,
		`sort_order`,
		`is_parent`,
		`created`
		)values(#{parentId},#{name},#{status},${sortOrder},#{isParent},#{created})
	</insert>

	<!-- 修改分类 将该级别下的所有分类逻辑删除 -->
	<delete id="deleteCate" parameterType="_int">
		update itemcat set
		status=3 where id=#{id}
	</delete>
	<!-- 修改子分类状态为删除 -->
	<delete id="deleteCateChile" parameterType="_int">
		update itemcat set
		status=3 where parent_id=#{id}
	</delete>

	<!--修改 -->

	<update id="updateCate" parameterType="itemCategory">
		update itemcat
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="status!=null">

				status=#{status},
			</if>
			<if test="sortOrder!=null">
				sort_order=#{sortOrder},
			</if>
			<if test="isParent!=null">
				is_parent=#{isParent},
			</if>
			<if test="updated!=null">
				updated=#{updated}
			</if>
		</trim>

	</update>


<!-- 查询出最大排序 -->
<select id="selectSortIndex" parameterType="_int" resultType="Integer">
SELECT  MAX(sort_order) FROM `itemcat` WHERE parent_id=#{id}
</select>


<!-- 修改图片log -->
	<update id="updateCatelog">
	  update itemcat set cateImg=#{cateImg} where id=#{id}
	</update>

</mapper>